body {
  font-family: Arial, sans-serif;
  display: flex;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}


svg {
  width: 100vmin;
  height: 100vmin;
}



line {
  stroke-width: 1;
  stroke: green;
}

#hull {
  stroke: purple;
  stroke-width: 1;
  stroke-linecap: round;
}

#mast {
  stroke: purple;
  stroke-width: 1;
  stroke-linecap: round;
}

#boatSpeed {
  stroke: lightseagreen;
}

#correction {
  stroke: red;
}


#correctedSpeed {
  stroke: seagreen;
}

#residual {
  stroke: rgb(250, 140, 158);
}

#current {
  stroke: rgb(52, 52, 255) ;
}


#groundSpeed {
  stroke: brown;
}